/*关于我们*/
.about_us{
   position: relative;
   width: 100%;
   height: 800px;
   background: url(../images/aboutus.png) no-repeat;
   background-size: 100%;
   background-color: #fff;
   /*top:-50px;*/
   padding-top: 50px;
}
.about_con{
	position:inherit;
	width: 1250px;
}
.leftyh{
	position: absolute;
	top: 110px;
	left: 65px;
}
.rightyh{
	position: absolute;
	right: 65px;
	top: 305px;
}
.about_con_title{
	display: block;
	width: 100%;
	height: 28px;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
}
.about_con_infro{
	display: block;
	width: 100%;
	height: 32px;
	line-height: 32px;
	/*background-color: red;*/
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
}
.about_font{
	width: 80%;
	height: 155px;
	color: #666;
	font-size:16px;
	margin-top: 70px;
}
.about_con_big{
	width: 100%;
	height: 999px;
	background: url(../images/life.jpg) no-repeat center center;
	margin-top: 500px;
}
.about_con_nr{
	width: 1250px;
	height: 263px;
	/*margin: 50px auto 50px auto;*/
	/*background-color: red;*/
}
.about_con_nr > div{
	width: 186px;
	height: 263px;
	float: left;
	margin-left: 19px;
	background: url(../images/lafitepic.jpg) no-repeat center center;
}
.about_con_nr > div > div{
	width: 186px;
	height: 100px;
	/*margin-top: 60px;
	margin-left: 30px;*/
}
.about_con_nr > div > span{
	display: block;
	width: 100%;
	height: 20px;
	font-size: 16px;
	text-align: center;
	line-height: 20px;
}
.about_con_nr > div > p{
	display: block;
	width: 80%;
	margin: 0 auto;
	/*height: 20px;*/
	font-size: 16px;
	text-align: center;
	line-height: 20px;
}
.about_con_nrt{
	width: 1250px;
	height: 263px;
	/*margin: 50px auto 50px auto;*/
	/*background-color: red;*/
}
.about_con_nrt > div{
	width: 403px;
	float: left;
	margin-left: 10px;
	/*background-color: red;*/
}
.about_con_nrt > div > div {
	width: 200px;
	margin: 0 auto 0 auto;
}
.about_con_nrt > div > div > img{
	width: 100%;
}
.about_con_nrt > div > span{
	display: block;
	width: 100%;
	height: 20px;
	font-size: 16px;
	text-align: center;
	line-height: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.about_con_nrt > div > p{
	display: block;
	width: 80%;
	margin: 20px auto;
	/*height: 20px;*/
	font-size: 16px;
	text-align: left;
	line-height: 20px;
}