/*========== 公共样式 ==========*/
html, body, div, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {  margin: 0 auto; padding: 0;font-family: "Microsoft YaHei";}
img { border: 0 none; vertical-align: top; }
ul,li,dl,dd,dt { list-style-type: none; }
i,em,cite { font-style: normal; }
body {  -webkit-text-size-adjust:none;  font-family:"Helvetica Neue",Helvetica,Arial,"sans-serif","PingFang SC";}
a{ text-decoration: none; }
a:focus,input:focus,select:focus { outline: none; }

/* 导航栏样式 */
.nav{
    position: relative;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #e0e0e0;
}
.nav_con{
    position: relative;
    width: 1250px;
    height: 90px;
}
.logo{
    float: left;
    margin-top: 20px;
    margin-left: 50px;
}
.logo_infro{
    float: left;
    margin-left: 25px;
    margin-top: 30px;
}

.li_ep{
    position: relative;
    z-index: 66;
}
.li_ep .li_list{
    position: absolute;
    top: 60px;
    height: 60px;
    display: none;
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.li_ep .li_list a{
    display: block;
    width: 100%;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
}
/*.li_ep div:nth-of-type(2){
    top: 125px;
}*/
.li_ep:hover .li_list{
    display: block;
}
.nav .nav_ul{
    float: left;
    margin-left: 110px;
}
.nav .nav_ul li{
   float: left;
   position: relative;
   text-align: center;
   line-height: 90px;
   width: 80px;
   font-size: 16px;
   margin-left: 30px;
}
#cur{
    color: #5a7caa;
}
.nav .nav_ul li a{
    color: #000;
}

.nav .nav_ul li a:hover{
    color: #5a7caa;
}
.footer {
            position: relative;
            height: 170px;
            width: 100%;
            background: #272A2C;
        }
            .footer_con {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 1250px;
                height: 100px;
                margin: auto;
            }
                .foote_logo,.footer_font {
                    float: left;
                }
                    .foote_logo img {
                        margin-top: 20px;
                    }
                .footer_font {
                    margin-left: 270px;
                    width: 750px;
                    height: 100%;
                    color: #FAFAFA;
                    font-size: 15px;
                }
                        .footer_font ul li .np {
                            display: inline-block;
                            width: 50px;
                            color: #4B4D4F;
                            text-align: center;
                        }
                    .footer_font ul li {
                        line-height: 35px;
                    }
                    .footer_font ul li a {
                        color: #FAFAFA;
                    }
        @media screen and (max-width: 1250px){
            .footer {
                width: 1250px;
            }
        }
/*contact_us开始*/
    .contact_us {
            position: relative;
            /*top: 160px;*/
            width: 100%;
            height: 210px;
            background: #F0F0F0;
        }
            .contact_con {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 1250px;
                height: 170px;
            }
                .con_list {
                    float: left;
                }
                .c_c_one {
                    height: 100%;
                    width: 170px;
                }
                .c_c_two {
                    margin-top: 30px;
                    margin-left: 160px;
                    height: 80%;
                    width: 450px;
                }
                .c_c_three {
                    height: 100%;
                    width: 360px;
                    margin-left: 100px;
                }
                .con_list_title {
                    font-size: 22px;
                    font-weight: bold;
                    color: #606060;
                    padding-left: 15px;
                    border-left: 3px solid #208CD4;
                }
                .c_l_wx {
                    margin-top: 15px;
                    height: 50px;
                    width: 100%;
                }
                    .wx_img {
                        position: absolute;
                        top: 25px;
                        left: 140px;
                        width: 5%;
                        display: none;
                    }
                .c_l_wx:hover {
                    cursor: pointer;
                }
                .c_l_wx:hover .wx_img {
                    display: block;
                }
                    .c_l_wx img {
                        float: left;
                        margin-left: 20px;
                        margin-top: 8px;
                    }
                    .wx_font {
                        float: left;
                        font-size: 14px;
                        color: #111111;
                        margin-left: 10px;
                    }
                .c_l_wb {
                    margin-top: 15px;
                }
                    .c_l_wb .wx_font {
                        margin-left: 14px;
                    }
                .c_c_t_con {
                    margin-top: 30px;
                }
                    .c_c_t_con img {
                        float: left;
                        margin-right: 10px;
                    }
                    .c_mail {
                        font-size: 14px;
                        color: #111111;
                        margin-left: 15px;
                    }
                .c_c_address {
                    margin-top: 40px;
                }
                    .c_c_address img {
                        margin-right: 17px;
                    } 
                .c_c_three ul {
                    line-height: 40px;
                    height: 100%;
                }
                .c_c_three a {
                    color: black;
                }
                    .three_special_li {
                        color: #3295D7;
                        font-weight: bold;
                    }
        @media screen and (max-width: 1250px){
            .lunbo,.lun_nav,.contact_us {
                width: 1250px;
            }
        }

#workbanner{
    width: 100%;
    margin: 0 auto;
}
#workbanner img{
    width: 100%;
}


/*响应式处理*/
@media (max-width: 992px) {

.display_n{
    display: none!important;
}
#display_b{
    display: block!important;
    width: 100%;
    height: 18px;
    font-size: 18px;
    text-align: center;
}

}
@media (min-width: 992px) {

.display_n{
    display: block!important;
}
#display_b{
    display: none!important;
}

}